<div id="<%= dom_id utility %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= utility.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Utility type:</strong>
    <%= utility.utility_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Room:</strong>
    <%= utility.room_id %>
  </div>
</div>
